# python3 -m pip install --upgrade pip setuptools wheel
# pip3 install grpcio --no-cache-dir

grpcio==1.51.3
openai
qrcode
Flask==3.0.0
firebase-admin==6.3.0
Werkzeug==3.0.1
reportlab==4.0.7
qrcode
gunicorn==21.2.0
Pillow
google-cloud-firestore

#pip install grpcio --use-pep517 --no-build-isolation
#pip install firebase-admin --no-deps
#pip install flask google-cloud-firestore google-auth grpcio-status

# Test install
# python3 -c "import firebase_admin; print('Firebase working!')"
